/* header start */
header .top-header {
    padding-top: 28px;
    padding-bottom: 26px;
}
header .logo {
    margin-right: auto;
    font-size: 0;
}
header .text-help {
    margin-right: 32px;
    color: #546e7a;
}
header .text-help span {
    color: #e74c3c;
}
header .header-buttons {
    margin-left: 29px;
}
header .header-buttons button + button {
    margin-left: 7px;
}
header .bottom-header {
    background-color: #263238;
    padding: 23px 0;
}
header .bottom-header .header-nav a{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}
header .bottom-header .header-nav a:hover {
    color: #8bc34a;
}
header .bottom-header .header-nav a + a {
    margin-left: 40px;
}
/* header end */