.tag-list {
    margin-bottom: 59px;
}
.tag-list a {
    display: inline-block;
    background-color: #fff;
    color: #263238;
    font-size: 14px;
    font-weight: 500;
    padding: 13px 27px;
}
.tag-list a + a {
    margin-left: 6px;
}

.tag-list a:hover, .tag-list a:focus {
    background-color: #e74c3c;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(202, 215, 228, 0.75);
}