/* --- Upload Products start --- */
.upload-product-wrapp .content-wrapper .content-wrapper-body {
    padding: 43px 48px 70px 45px;
}

.upload-product-wrapp .form-group + .form-group {
    margin-top: 24px;
}
.upload-product-wrapp .btn-lg.btn-green {
    margin-top: 42px;
}

.upload-product-wrapp .btn.btn-lg {
    padding: 17px 38px;
}
/* --- Upload Products end --- */