/* Forms element start */
.form-group {
    margin-bottom: 0;
}

.form-group + .form-group {
    margin-top: 22px;
}

.col-form-label {
    color: #444;
    line-height: 1;
}

.col-form-label.required::after {
    content: "*";
    color: #8bc34a;
    font-size: 21px;
    position: absolute;
    margin-left: 5px;
    top: -1px;
}

.form-control {
    height: 40px;
    font-size: 15px;
    color: #707070;
    background-color: #f9f9f9;
    border: 1px solid #dcdcdc;
    border-radius: 0;
    padding: 0 17px;
    line-height: 1;
}

.form-control:focus {
    color: #707070;
    background-color: #f9f9f9;
    border-color: #707070;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.jq-selectbox {
    width: 100%;
}

.jq-selectbox__select {
    height: 40px;
    font-family: 'Roboto';
    color: #707070;
    background: #f9f9f9;
    border-color: #dcdcdc;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 40px 0 17px;
    line-height: 40px;
}

.jq-selectbox__select:hover {
    background: #f9f9f9;
}

.jq-selectbox.focused .jq-selectbox__select {
    border: 1px solid #707070;
}

.jq-selectbox__trigger {
    border-left: none;
    width: 40px;
}

.jq-selectbox__trigger-arrow {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-top-color: #000;
}

.jq-selectbox__dropdown {
    border-radius: 0;
    font-family: 'Roboto';
}

.jq-selectbox li:hover {
    background-color: #8bc34a;
}

.form-group .fa.fa-asterisk {
    color: #8bc34a;
    font-size: 9px;
    vertical-align: top;
}

textarea.form-control {
    min-height: 150px;
    padding-top: 14px;
}
/* Forms element end */